@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #777777;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --dark-blue: #010a59;
  --contact: #007171;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.static-icons {
  position: fixed;
  right: 0.1rem;
  top: 55%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

p,
a,
li {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 140rem;
  padding: 4rem 3rem;
  margin: 0 auto;
}

.static-navbar-all {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* above other elements */
  background-color: var(--white); /* ensure background is visible */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

/* Optional smoother entrance */
.static-navbar-all {
  transition: all 0.3s ease;
}
